@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}


<!-- map bannar area Start  -->
<div class="map-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-0 col-md-1 col-lg-1"></div>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50013.51144697894!2d27.087961462285882!3d38.42195913384435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bbd8e2fece48eb%3A0xafa58b890c33632a!2zS29uYWsvxLB6bWly!5e0!3m2!1str!2str!4v1681356076318!5m2!1str!2str" width="960" height="480" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <br />
                <br />
                <h1 style="font-weight:bold; color:sandybrown; text-align:center; font-family:Calibri; margin-left:150px;">For more information and contact details: <a href="https://www.alperkayali.com">www.alperkayali.com</a></h1>
            </div>
        </div>
    </div>
</div>
<!-- map bannar area End  -->
