@{
    ViewData["Title"] = "PayConclusion";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<div class="wishlist-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 ">
                <span>
                    <h3>
                        Your ORDER NUMBER is: @ViewBag.OrderGroupGUID
                    </h3>
                </span>
            </div>
        </div>
    </div>
</div>