
@{
    ViewData["Title"] = "InformationSecurityPolicy";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<!-- Info area Start  -->
<div class="main-blog-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="single-bolg s-post">
                    <div class="post-format-area">
                        <div class="b-slide-all">
                            <img src="~/img/data_security.png">                            
                        </div>
                    </div>
                    
                    <p><h2>Data Security Policy of <span style="color:darkorange;"><b>alperkayali.com</b></span></h2></p>

                    <p><h3>At  <b>AlperKayali</b>,  we take the privacy of our visitors and customers seriously. This Privacy Policy outlines the types of personal information we collect, how we use it, and how we keep it safe.</h3></p>
                    
                    
                    <blockquote>
                        <p><h4>1 - Personal Information We Collect</h4></p>
                        <p><h4>We collect personal information such as name, email address, and phone number when you fill out our contact form, sign up for our newsletter, or make a purchase from our website. We may also collect information about your computer or mobile device, including your IP address and browser type.</h4></p>
                    </blockquote>
                    
                    <p><h4>2 - How We Use Personal Information ?</h4></p>
                    <p><h4>We use personal information to provide you with the products and services you have requested, to communicate with you about your account, and to send you promotional emails about our products and services. We may also use your personal information to improve our website and customer service.</h4></p>
                    <br />
                    <h4>3 - How We Keep Personal Information Safe ?</h4>
                    <p><h4>We take measures to ensure the security of your personal information. We use industry-standard encryption technologies to protect your personal information from unauthorized access, use, or disclosure. We also limit access to your personal information to those employees who need it to perform their jobs.</h4></p>
                    <br />
                    <h4>4 - Sharing Personal Information</h4>
                    <p><h4>We do not sell or rent your personal information to third parties. We may share your personal information with our trusted partners who assist us in providing our products and services, such as payment processors and shipping companies. We require these partners to use your personal information only for the purposes for which it was shared and to keep it confidential.</h4></p>
                    <br />
                    <h3><b>By using AlperKayali.com, you consent to the collection and use of your personal information as outlined in this Privacy Policy. If you have any questions or concerns about our Privacy Policy, please contact us.</b></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Info area End  -->

