<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Alper KAYALI</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/kayalicom/assets/img/favicon.png" rel="icon">
    <link href="~/kayalicom/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/kayalicom/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/kayalicom/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/kayalicom/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/kayalicom/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/kayalicom/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/kayalicom/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/kayalicom/assets/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- ======= Mobile nav toggle button ======= -->
    <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
    <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex flex-column justify-content-center">

        <nav id="navbar" class="navbar nav-menu">
            <ul>
                <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
                <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About Me</span></a></li>
                <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
                <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
                <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Links</span></a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center">
        <div class="container" data-aos="zoom-in" data-aos-delay="100">
            <h1>Alper KAYALI</h1>
            <p><span class="typed" data-typed-items="Full Stack Developer, .NET, C#, MSSQL"></span></p>
            <div class="social-links">
                <a href="https://www.github.com/kayalialper" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://www.linkedin.com/in/allperkayali" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                <a href="https://www.instagram.com/citizenkayali" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
            </div>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>About Me</h2>
                    <p>Hello, I'm Alper KAYALI.</p>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <img src="~/kayalicom/assets/img/profile-img.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 pt-4 pt-lg-0 content">
                        <h3>.NET Full Stack Developer  |  C#  |  MSSQL  |  HTML</h3>
                        <p class="fst-italic">
                            I wrote code and develop solutions written in C#, specifically .NET Core MVC. Also I use MSSQL with full of it's aspects in order to create dynamic projects.
                        </p>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.alperkayali.com</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+90 533 0559623</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>İzmir / TURKEY</span></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>alperkayali@outlook.com</span></li>
                                </ul>
                            </div>
                        </div>
                        <p class="fst-italic">
                            For more detailed information and communication, read my resume below.
                        </p>
                    </div>
                </div>

            </div>
        </section>

        <!-- ======= Skills Section ======= -->
        <section id="skills" class="skills section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Skills</h2>
                    <p>The learning is a long progress, but here's an aproximate theoritical guess what I can do with I already learned !</p>
                </div>

                <div class="row skills-content">
                    <div class="col-lg-12">

                        <div class="progress">
                            <span class="skill">C# <i class="val">80%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">MSSQL <i class="val">85%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Web API's <i class="val">85%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">HTML <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">CSS <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">JavaScript <i class="val">75%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Bootstrap <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </section><!-- End Skills Section -->
        <!-- ======= Resume Section ======= -->
        <section id="resume" class="resume">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Resume</h2>
                    <p>You can now find more detailed information about me and my education here.</p>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="resume-title">Summary</h3>
                        <div class="resume-item pb-0">
                            <h4>Alper KAYALI</h4>
                            <p><em>Full stack .NET Developer with MSSQL co-operated projects</em></p>
                            <ul>
                                <li>İzmir / TURKEY</li>
                                <li>+90 533 0559623</li>
                                <li>alperkayali@outlook.com</li>
                            </ul>
                        </div>

                        <h3 class="resume-title">Education</h3>
                        <div class="resume-item">
                            <h4>İ-AKADEMİ İZMİR  |  .NET Full Stack Developer (300 Hours)</h4>
                            <h5>2022 - 2023</h5>
                            <p><em>C#, .NET, WebAPI, MSSQL, HTML, CSS, JavaScript, Ajax, Bootstrap</em></p>
                            <p>
                                I developed full stack solutions starting from Windows Forms Applications to e-Commerce ready .NET Core MVC projects written in C# and used actively MSSQL databases. N-Tier design is used in various necessarities.
                                <br />
                            <p>
                                I integrate WebAPI's to the projects.
                            </p>
                        </div>
                        <div class="resume-item">
                            <h4>İZMİR KATİP ÇELEBİ UNIVERSITY - ECONOMICS</h4>
                            <h5>2014 - 2017</h5>
                            <p><em>Drop out</em></p>
                            <p>After three years of education, I drop out college and started working at various businesses.</p>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4" style="margin:auto;">
                        <h3 class="resume-title" style="font-size:26px;">FULL RESUME</h3>
                        <div class="resume-item">
                            <h4 style="font-size:22px;">RESUME</h4>
                            <div class="container" style="display:flex; height:100%;">
                                <abbr><a href="~/kayalicom/assets/pdf/engcv.pdf" target="_blank" download="EnglishResume.pdf" style="color:darkgreen; font-size:16px;">ENGLISH RESUME - PDF  <i class="bi bi-cloud-download-fill"></i></a></abbr>
                            </div>
                        </div>
                        <div class="resume-item">
                            <h4 style="font-size:22px;">CV</h4>
                            <div class="container" style="display:flex; height:100%;">
                                <abbr><a href="~/kayalicom/assets/pdf/turkishcv.pdf" target="_blank" download="TurkceCV.pdf" style="color:darkgreen; font-size:16px;">TÜRKÇE CV - PDF  <i class="bi bi-cloud-download-fill"></i></a></abbr>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Resume Section -->
        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Portfolio</h2>
                    <p>In this section, you can select and overview the projects I worked on. Project links are at the bottom of page.</p>
                </div>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-4 col-md-6 portfolio-item">
                        <div class="portfolio-wrap">
                            <img src="~/kayalicom/assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>E-COMMERCE</h4>
                                <p>.Net Core MVC with MSSQL</p>
                                <div class="portfolio-links">
                                    <a href="~/kayalicom/assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=".Net Core MVC with MSSQL DB. For detailed demo view, scroll the page to the bottom."><i class="bx bx-plus"></i></a>
                                    <a href=" /Home/Index" class="portfolio-details-lightbox" target="_blank" data-glightbox="type: external" title="E-Commerce"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item">
                        <div class="portfolio-wrap">
                            <img src="~/kayalicom/assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>ADMIN PANEL</h4>
                                <p>.Net Core MVC - Responsive Admin Panel with MSSQL DB</p>
                                <div class="portfolio-links">
                                    <a href="~/kayalicom/assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=".Net Core MVC - Responsive Admin Panel with MSSQL DB. For detailed demo view, scroll the page to the bottom."><i class="bx bx-plus"></i></a>
                                    <a href="/Admin/Login" class="portfolio-details-lightbox" data-glightbox="type: external" title="Admin Panel"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item">
                        <div class="portfolio-wrap">
                            <img src="~/kayalicom/assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>MUSICCOLLECTIVE</h4>
                                <p>WORK IN PROGRESS</p>
                                <div class="portfolio-links">
                                    <a href="~/kayalicom/assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Interactive music articles WebSite. For detailed demo view, scroll the page to the bottom."><i class="bx bx-plus"></i></a>
                                    <a href="https://musiccollective.com" class="portfolio-details-lightbox" data-glightbox="type: external" title="Interactive Web Site"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Portfolio Section -->
        <!-- ======= Links Section ======= -->
        <section id="services" class="services">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>LINKS</h2>
                    <p>This is the section that you will find all the links belong to my projects.</p>
                </div>

                <div class="row">

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box iconbox-blue">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                                </svg>
                                <i class="bi bi-cart4"></i>
                            </div>
                            <h4><a href="/Home/Index" target="_blank">E-Commerce</a></h4>
                            <p>.Net Core MVC with MSSQL DB. Built DYNAMICALLY from beginning to the end.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-box iconbox-orange ">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
                                </svg>
                                <i class="bi bi-person-workspace"></i>
                            </div>
                            <h4><a href="/Admin/Login" target="_blank">ADMIN PANEL</a></h4>
                            <p>.Net Core MVC - Responsive Admin Panel with MSSQL DB.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box iconbox-pink">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                                </svg>
                                <i class="bi bi-music-note-beamed"></i>
                            </div>
                            <h4><a href="https://musiccollective.com" target="_blank">MUSIC COLLECTIVE</a></h4>
                            <p>Interactive WebSite of music articles by a radio programmer.</p>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Services Section -->


    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <h3>Alper KAYALI</h3>
            <p>I write code and develop solutions written in C#, on .NET and .NET Core MVC with in the need to use MSSQL with full of it's aspects in order to create dynamic projects.</p>

            <div class="copyright">
                &copy; Copyright <strong><span>Alper Kayalı</span></strong>. All Rights Reserved
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/kayalicom/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/kayalicom/assets/vendor/aos/aos.js"></script>
    <script src="~/kayalicom/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/kayalicom/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/kayalicom/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/kayalicom/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/kayalicom/assets/vendor/typed.js/typed.min.js"></script>
    <script src="~/kayalicom/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/kayalicom/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/kayalicom/assets/js/main.js"></script>

</body>

</html>