@model Category
@{
    ViewData["Title"] = "CategoryCreate";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!-- BEGIN SAMPLE FORM PORTLET-->
<div class="col-sm-12 col-md-4 col-lg-5 col-xl-6">
    <div class="portlet box green ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i> Category <b>Edit</b> Form
            </div>
            <div class="tools">
                <a href="" class="collapse">
                </a>
                <a href="#portlet-config" data-toggle="modal" class="config">
                </a>
                <a href="" class="reload">
                </a>
                <a href="" class="remove">
                </a>
            </div>
        </div>
        <div class="portlet-body form">
            <form class="form-horizontal" role="form" action="/Admin/CategoryEdit" method="post">
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Type a new Category Title:</label>
                        <div class="col-md-9">
                            <input type="text" name="CategoryName" class="form-control input-lg" value="@Model.CategoryName" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Chosse a Category:</label>
                        <div class="col-md-9">
                            @Html.DropDownList("ParentID",(IEnumerable<SelectListItem>?)ViewData["MainCategoryList"],"MAIN",new { @class = "form-control input-lg"})
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Active Category ?</label>
                        <div class="col-md-9">
                            <input type="checkbox" name="Active" value="true" />
                        </div>
                    </div>

                    <input type="hidden" asp-for="CategoryID" />

                </div>
                <div class="form-actions right1">
                    <input type="submit" value="UPDATE" class="btn green" />
                    <a asp-action="CategoryIndex" class="btn blue">Categories Table</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END SAMPLE FORM PORTLET-->
