@{
    ViewData["Title"] = "GeneralIndex";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div>
    <a asp-action="CategoryIndex" class="btn blue">CATEGORIES TABLE</a>
    <a asp-action="CategoryCreate" class="btn green">CATEGORY CREATE</a>
</div>

<br />

<div>
    <a asp-action="SupplierIndex" class="btn blue">SUPPLIERS TABLE</a>
    <a asp-action="SupplierCreate" class="btn green">SUPPLIER CREATE</a>
</div>

<br />

<div>
    <a asp-action="ProductIndex" class="btn blue">PRODUCTS TABLE</a>
    <a asp-action="ProductCreate" class="btn green">PRODUCT CREATE</a>
</div>

<br />

<div>
    <a asp-action="StatusIndex" class="btn blue">STATUSES TABLE</a>
    <a asp-action="StatusCreate" class="btn green">STATUS CREATE</a>
</div>

<br />

<div>
    <a asp-action="SettingsIndex" class="btn blue">SETTINGS TABLE</a>
    <a asp-action="SettingCreate" class="btn green">SETTING CREATE</a>
</div>

<br />

<div>
    <a asp-action="ContentIndex" class="btn blue">CONTENTS TABLE</a>
    <a asp-action="ContentCreate" class="btn green">CONTENT CREATE</a>
</div>
